
body{
	font-family: 'PT Sans', sans-serif;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5{
	font-weight: 700;
	color: #000;
}
h2{
	text-align: center;
}
h3{
	font-weight: 400;
}
.yellow{
	color: #fcdb00;
}
.title{
	padding-top: 95px;
	text-align: center;
	padding-bottom: 70px;
}
.title__main{
	font-size: 32px;
}
.title__text{
	font-size: 20px;
	width: 780px;
	margin: 0 auto;
}
header{
	background: #fcdb00;
	color: #010101; 
	padding-top: 58px;
	padding-bottom: 105px; 
}
.menu{
	margin-top: 10px;
}
.menu__item{
	margin: 0 57px;
}
.menu__item a{
	font-size: 22px;
	font-weight: 700;
	color: #000;
}
.offer{
	margin-top: 117px;
}
.offer__title{
	font-size: 32px;
	margin-bottom: 6px;
}
.offer__intro{
	font-size: 20px;
	line-height: 1.3em;
}
.offer__text{
	font-size: 16px;
	margin-top: 15px;
	color: #555;
	width: 400px;
}
.icons__item{
	margin-right: 30px;
}
.icons__item a{
	color: #000;
	font-size: 42px;
	transition: all 0.3s ease;
}
.icons__item a:hover{
	text-decoration: none;
	color: #ff4800;
}
.ipad{
	display: block;
	margin: 60px auto 0;
}

/*Second*/
.feature{
	margin-bottom: 65px;
}
.feature__icon{
	font-size: 50px;
	margin-right: 37px;
	color: #000;
}
.feature__text{
	color: #898989;
}

/*Third*/
.touch{
	background: #010101;
	color: #676767;
}
.form{
	text-align: center;
}
.form__input{
	background: #fff;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	border-radius: 5px;
	width: 580px;
	padding: 14px 0;
	border: none;
	padding-left: 23px;
	outline: none;
}
.form__btn{
	font-family: 'PT Sans', sans-serif;
	background: #fcdb00;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	width: 120px;
	border: 0px;
	padding: 14px 0;
	cursor: pointer;
	outline: none;
}
/*Footer*/
.footer{
	background: #000;
	padding: 50px 0 94px;
}
.credits{
	color: #fff;
	font-size: 16px;
	width: 184px;
	margin: 0 auto;
	text-align: center;

}

/*Media*/

@media screen and (max-width: 992px){
	.logo{
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.offer{
		text-align: center;
	}
	.offer__text{
		margin: 10px auto;
		width: auto;
	}
	.icons{
		justify-content: center;
	}
	.icons__item:nth-child(3){
		margin-right: 0;
	}
	.form__input{
		margin-right: 0;
		width: 100%;
	}
	.form__btn{
		margin-top: 20px;
		width: 100%;
	}
	.title__text{
		width: auto;
	}
}

@media screen and (max-width: 576px){
	.ipad{
		width: 100%;
	}
	.menu{
		flex-direction: column;

	}
	.menu__item{
		margin-bottom: 10px;
	}
}